<div class="comment-card comment">
  <p class="comment-content"><%= comment.content %></p>
  <div class="comment-author">
    <small>by <%= comment.user.username %></small>
  </div>

  <% if comment.images.attached? %>
    <div class="comment-images">
      <% comment.images.each do |image| %>
        <%= image_tag image, class: 'img-thumbnail', alt: 'Comment image' %>
      <% end %>
    </div>
  <% end %>



   <div class="text-left mb-4">
    <%= render 'likes/like_button', likeable: comment %>
  </div>

 
  

     <a href="#" class="commet-form-display">reply</a>
     <div class="comment-formd">
    <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment } %>
  </div>

  <% if comment.replies.any? %>
      <div class="replies ml-4 mt-3">
        <% comment.replies.each do |reply| %>
          <%= render partial: 'comments/comment', locals: { comment: reply } %>
        <% end %>
      </div>
    <% end %>



    <h4 style="color: black">Report Comment</h4>
   <%= render partial: 'reports/report_form', locals: { reportable: comment } %>
</div>
<hr/>

<script>
  document.addEventListener('turbo:load', () => {
  const replyLinks = document.querySelectorAll('.commet-form-display');

  replyLinks.forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default link behavior

      const commentForm = this.nextElementSibling; // Find the next sibling element (the comment form)

      if (commentForm.classList.contains('comment-formd')) {
        commentForm.style.display = 'block'; // Display the comment form as block
      }
    });
  });
});
</script>


