<%= form_with(model: [post, Comment.new], local: false, data: { turbo: false }) do |form| %>

  <%# Conditionally include the hidden field for parent_id if the parent is present %>
  <% if parent.present? %>
    <%= form.hidden_field :parent_id, value: parent.id %>
  <% end %>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 3, class: 'form-control', placeholder: 'Please comment here' %>
  </div>

  <div class="form-group">
    <%= form.label :images, "Attach Images" %>
    <%= form.file_field :images, multiple: true, direct_upload: true, class: 'form-control' %>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-dark' %>
<% end %>
