
<div class="like-button">
  <% if @likeable.likes.exists?(user: current_user) %>
    <%= link_to polymorphic_path([@likeable, @likeable.likes.find_by(user: current_user)]), method: :delete, data: { turbo_method: :delete } do %>
      <%= image_tag('thumbs_down.svg', alt: 'Unlike', class: 'icon') %>
    <% end %>
  <% else %>
    <%= link_to polymorphic_path([@likeable, Like.new]), method: :post, data: { turbo_method: :post } do %>
      <%= image_tag('thumbs_up.svg', alt: 'Like', class: 'icon') %>
    <% end %>
  <% end %>
  <span><%= @likeable.likes.count %> Likes</span>
</div>
