<%= form_for [reportable, Report.new], url: reports_url, local: true do |form| %>
<%= form.hidden_field :reportable_type, value: reportable.class.name %>
  <%= form.hidden_field :reportable_id, value: reportable.id %>
  <div class="field">
    <%= form.label :reason %>
    <%= form.text_area :reason, rows: 3, placeholder: 'Please report here' %>
  </div>
  <div class="actions">
    <%= form.submit 'Report' %>
  </div>
<% end %>
